// Colors
$white: #FFFFFF;
$white-light: #FAFFFF;
$black: #000000;
$dark-blue: #001E2D;
$pink: #FF7F7F;
$dark-red: #800000;
$red: #941D00;
$red-bright: #CC0707;
$purple: #8E65A9;
$blue: #1AC2EF;
$error: orangered;

// Other
$border-radius: 13px;
$switch-width: 47px;
$switch-height: 27px;
$switch-radius: 50px;
